In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as ss
from causalinference import CausalModel

In [3]:
def Read_Data(df: pd.DataFrame)->pd.DataFrame:
     
     try:
          return pd.read_csv(df)
     except Exception as e:
          raise ValueError(f"Error: {e}")
     
          return None
     
data = Read_Data(r"C:\Users\mk744\OneDrive - Poornima University\Desktop\Feature Scaling\Basic_statistics\school(in).csv")
data.head(2)

,childid,catholic,race,number_places_lived,mom_age,dad_age,dad_education,mom_education,mom_score,dad_score,income,poverty,food_stamps,score_standardized
0,0001002C,0,"WHITE, NON-HISPANIC",1,47,45,DOCTORATE OR PROFESSIONAL DEGREE,SOME COLLEGE,53.50,77.5,62500.5,0,0,0.981753
1,0001004C,0,"WHITE, NON-HISPANIC",1,41,48,BACHELOR'S DEGREE,GRADUATE/PROFESSIONAL SCHOOL-NO DEGREE,34.95,53.5,45000.5,0,0,0.594378

- Data Analysis

In [4]:
#  compare the averages of both groups
data.groupby('catholic').agg(
     Average_value = (
          'catholic', lambda x : np.ceil(x.mean()))
     ).sort_index().sort_values(
     by='Average_value', ascending=False)

          Average_value
catholic
1                   1.0
0                   0.0

In [5]:
# Summary statistics

def Information(data: pd.DataFrame)->pd.DataFrame:
     
     """
     Show the 
     data Distribution
     and correlation
     
     """
     
     try:
          return data.describe()
     
     except Exception as e:
          
          print(f"Error: {e}")
          
          
def Description(data: pd.DataFrame)->pd.DataFrame:
     
     """
     Use skimpy
     
     """
     from skimpy import skim
     try:
          return skim(data)
     
     except Exception as e:
          print(f"Error: {e}")
          

def Summary_Tools(data: pd.DataFrame)->pd.DataFrame:
     
     """
     Use Summary Tools
     
     """
     try:
          from summarytools import dfSummary
          return dfSummary(data)
     
     except Exception as e:
          print(f"Error: {e}")
          
          

Information(data)

,catholic,number_places_lived,mom_age,dad_age,mom_score,dad_score,income,poverty,food_stamps,score_standardized
count,5429.000000,5429.000000,5429.000000,5429.000000,5429.000000,5429.000000,5429.000000,5429.000000,5429.000000,5429.000000
mean,0.171302,1.100571,38.133910,40.455701,44.545262,43.158858,68954.736784,0.086941,0.038865,0.172816
std,0.376808,0.341517,5.645699,6.389336,11.490628,10.692177,43411.269849,0.281774,0.193292,0.955021
min,0.000000,1.000000,19.000000,22.000000,29.600000,29.600000,5000.000000,0.000000,0.000000,-3.103553
25%,0.000000,1.000000,34.000000,36.000000,35.780000,35.780000,37500.500000,0.000000,0.000000,-0.441644
50%,0.000000,1.000000,38.000000,40.000000,38.180000,39.180000,62500.500000,0.000000,0.000000,0.225634
75%,0.000000,1.000000,42.000000,44.000000,53.500000,53.500000,87500.500000,0.000000,0.000000,0.802426
max,1.000000,5.000000,71.000000,69.000000,77.500000,77.500000,200001.000000,1.000000,1.000000,3.433658

In [6]:
Description(data)

╭──────────────────────────────────────────────── skimpy summary ─────────────────────────────────────────────────╮
│          Data Summary                Data Types                                                                 │
│ ┏━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┓ ┏━━━━━━━━━━━━━┳━━━━━━━┓                                                          │
│ ┃ dataframe         ┃ Values ┃ ┃ Column Type ┃ Count ┃                                                          │
│ ┡━━━━━━━━━━━━━━━━━━━╇━━━━━━━━┩ ┡━━━━━━━━━━━━━╇━━━━━━━┩                                                          │
│ │ Number of rows    │ 5429   │ │ int32       │ 6     │                                                          │
│ │ Number of columns │ 14     │ │ string      │ 4     │                                                          │
│ └───────────────────┴────────┘ │ float64     │ 4     │                                                          │
│                                └─────────────┴───────┘                                                          │
│                                                     number                                                      │
│ ┏━━━━━━━━━━━━━━━━━━━━━━┳━━━━┳━━━━━━┳━━━━━━━━━┳━━━━━━━━┳━━━━━━━━┳━━━━━━━━━┳━━━━━━━━┳━━━━━━━━┳━━━━━━━━┳━━━━━━━━┓  │
│ ┃ column_name          ┃ NA ┃ NA % ┃ mean    ┃ sd     ┃ p0     ┃ p25     ┃ p50    ┃ p75    ┃ p100   ┃ hist   ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━━━━╇━━━━╇━━━━━━╇━━━━━━━━━╇━━━━━━━━╇━━━━━━━━╇━━━━━━━━━╇━━━━━━━━╇━━━━━━━━╇━━━━━━━━╇━━━━━━━━┩  │
│ │ catholic             │  0 │    0 │  0.1713 │ 0.3768 │      0 │       0 │      0 │      0 │      1 │ ▇    ▂ │  │
│ │ number_places_lived  │  0 │    0 │   1.101 │ 0.3415 │      1 │       1 │      1 │      1 │      5 │   ▇▁   │  │
│ │ mom_age              │  0 │    0 │   38.13 │  5.646 │     19 │      34 │     38 │     42 │     71 │   ▆▇▂  │  │
│ │ dad_age              │  0 │    0 │   40.46 │  6.389 │     22 │      36 │     40 │     44 │     69 │  ▁▅▇▃  │  │
│ │ mom_score            │  0 │    0 │   44.55 │  11.49 │   29.6 │   35.78 │  38.18 │   53.5 │   77.5 │ ▇▇▃▁▃  │  │
│ │ dad_score            │  0 │    0 │   43.16 │  10.69 │   29.6 │   35.78 │  39.18 │   53.5 │   77.5 │ ▇▅▅▁▂  │  │
│ │ income               │  0 │    0 │   68950 │  43410 │   5000 │   37500 │  62500 │  87500 │ 200000 │ ▃▇▃ ▂  │  │
│ │ poverty              │  0 │    0 │ 0.08694 │ 0.2818 │      0 │       0 │      0 │      0 │      1 │ ▇    ▁ │  │
│ │ food_stamps          │  0 │    0 │ 0.03887 │ 0.1933 │      0 │       0 │      0 │      0 │      1 │   ▇    │  │
│ │ score_standardized   │  0 │    0 │  0.1728 │  0.955 │ -3.104 │ -0.4416 │ 0.2256 │ 0.8024 │  3.434 │  ▂▆▇▂  │  │
│ └──────────────────────┴────┴──────┴─────────┴────────┴────────┴─────────┴────────┴────────┴────────┴────────┘  │
│                                                     string                                                      │
│ ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━┓  │
│ ┃ column_name                  ┃ NA     ┃ NA %       ┃ words per row               ┃ total words             ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━┩  │
│ │ childid                      │      0 │          0 │                           1 │                    5429 │  │
│ │ race                         │      0 │          0 │                         2.5 │                   13747 │  │
│ │ dad_education                │      0 │          0 │                         2.7 │                   14711 │  │
│ │ mom_education                │      0 │          0 │                         2.6 │                   14040 │  │
│ └──────────────────────────────┴────────┴────────────┴─────────────────────────────┴─────────────────────────┘  │
╰────────────────────────────────────────────────────── End ──────────────────────────────────────────────────────╯

In [7]:
Summary_Tools(data)

In [8]:
group_1 = data.where(data.catholic == 0).dropna()['income']
group_2 = data.where(data.catholic == 1).dropna()['income']
stat, p = ss.ttest_ind(group_1, group_2)
print(p)

5.943636213205364e-41

In [9]:
print(stat)

-13.513541496069346

- T-Test

In [10]:
def T_test(data:pd.DataFrame)->pd.DataFrame:
     
     try:
          group_1 = data.where(data.catholic == 0).dropna()['income']
          group_2 = data.where(data.catholic == 1).dropna()['income']
          stat , p = ss.ttest_ind(group_1, group_2)
          return stat, p
     
     except ValueError:
          raise ValueError("Value Error")
     
     except Exception as e:
          print(f"Error: {e}")
          return None
     
     
T_test(data)

(-13.513541496069346, 5.943636213205364e-41)

- Get the continuous variables

In [11]:
def Continuous_Variable(data: pd.DataFrame)->pd.DataFrame:
     
     try:
          contnuous = ['number_places_lived',
                        'mom_age', 'dad_age',
                        'mom_score', 'dad_score',
                        'income'
                        ]
          
          stat = {}
          p = {}
          for x in contnuous:
               group_1 = data.where(data.catholic == 0).dropna()[x]
               group_2 = data.where(data.catholic == 1).dropna()[x]
               stat[x], p[x] = ss.ttest_ind(group_1, group_2)
               
          ttests = pd.DataFrame.from_dict(p, orient = "index")
          ttests.columns = ["p-value"]
          return ttests
     
     
     except Exception as e:
          print(f"Error: {e}")
          return None
     
Continuous_Variable(data)

                          p-value
number_places_lived  7.072609e-03
mom_age              1.359492e-22
dad_age              3.344265e-16
mom_score            2.280116e-19
dad_score            5.489722e-18
income               5.943636e-41

- Chi-Square Test

In [13]:
tab = pd.crosstab(index = data.poverty,
            columns = data.catholic
            )
stat, p, dof, exp  = ss.chi2_contingency(tab)

In [18]:
def Chisquare_test(data:pd.DataFrame)->pd.DataFrame:
     
     try:
          
          tab = pd.crosstab(index = data.poverty,
                            columns = data.catholic
                            )
          stat, p, dof, exp = ss.chi2_contingency(tab)
          return stat, p, dof, exp
     
     except Exception as e:
          print(f"Error: {e}")
          return None
     
     
Chisquare_test(data)
print(p, '\n', stat, '\n', dof, '\n',  exp, '\n')

{'poverty': 6.511354893726035e-17, 'food_stamps': 6.511354893726035e-17}
 69.815669888688
 1
 [[4107.85466937  849.14533063]
 [ 391.14533063   80.85466937]]

In [16]:
data.columns

Index(['childid', 'catholic', 'race', 'number_places_lived', 'mom_age',
       'dad_age', 'dad_education', 'mom_education', 'mom_score', 'dad_score',
       'income', 'poverty', 'food_stamps', 'score_standardized'],
      dtype='object')

In [17]:
categorical  = ['poverty', 'food_stamps']
p = {}
for y in categorical:
     tab = pd.crosstab(index = data.poverty,
                            columns = data.catholic
                            )
     stat, p[y], dof, exp = ss.chi2_contingency(tab)
          
     
chisquare = pd.DataFrame.from_dict(p, orient='Index')
chisquare.columns = ["p_value"]
chisquare

                  p_value
poverty      6.511355e-17
food_stamps  6.511355e-17

In [22]:
def Chi_Test(data:pd.DataFrame)->pd.DataFrame:
     
     try:
          
          categorical = ['poverty', 'food_stamps']
          p = {}
          for y in categorical:
               tab = pd.crosstab(index = data.poverty,
                                 columns = data.catholic
                                 )
               stat, p[y], dof, exp = ss.chi2_contingency(tab)
          chisquare = pd.DataFrame.from_dict(p, orient = 'Index')
          chisquare.columns = ['p_value']
          return chisquare, stat, p[y], dof, exp
     
     except Exception as e:
          print(f"Error: {e}")
          return None
     
Chi_Test(data)

(                  p_value
 poverty      6.511355e-17
 food_stamps  6.511355e-17,
 69.815669888688,
 6.511354893726035e-17,
 1,
 array([[4107.85466937,  849.14533063],
        [ 391.14533063,   80.85466937]]))

In [24]:
chisquare

                  p_value
poverty      6.511355e-17
food_stamps  6.511355e-17